@font-face {
  font-family: MyriadPro;
  src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: TacaPro-Bold;
  src: url("../fonts/TacaPro-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: TacaPro-Light;
  src: url("../fonts/TacaPro-Light.otf") format("opentype");
  font-weight: light;
}

@font-face {
  font-family: TacaPro-Regular;
  src: url("../fonts/TacaPro-Regular.otf") format("opentype");
  font-weight: regular;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;
  z-index: 10;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../img/loading.gif") 50% 50% no-repeat #000;
}

.blue-title {
  font-family: 'TacaPro-Light';
  color: #00ADEF;
  font-size: 4em;
  text-transform: uppercase;
}

.social-icons {
  margin-top: 48px;
}

.mt-30 {
  margin-top: 30px;
}

.btn-cotizar {
  font-family: 'TacaPro-Regular';
  width: 100%;
  color: #888385;
  background-color: #C2C5C8;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 0;
}

.btn-cotizar:hover {
  background-color: #DCDCDC;
}

body {
  background-color: #FFF;
  margin-top: 80px;
  position: relative;
}

h2 {
  font-family: 'TacaPro-Light';
  font-size: 3em;
  text-transform: uppercase;
  color: #00ADEF;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.navbar.navbar-inverse {
  background-color: #000;
  border-color: #000;
  min-height: 80px;
}

.navbar.navbar-inverse .navbar-nav > li > a {
  font-family: 'MyriadPro';
  font-size: 1.1em;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 65px;
  padding-bottom: 0px;
  line-height: 0px;
}

.navbar.navbar-inverse .navbar-nav .active a {
  color: #00ADEF;
  background-color: #000;
}

.navbar .navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar .navbar-brand > img {
  height: 100%;
  padding: 5px;
  width: auto;
}

.navbar.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

.navbar .open > .dropdown-menu {
  display: inline-block;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .dropdown-menu {
  margin-top: 0px;
  font-family: 'TacaPro-Regular';
  background-color: #000;
  width: 670px;
  left: 0;
  margin-top: 5px !important;
}

.navbar .dropdown-menu ul {
  list-style-type: none;
}

.navbar .dropdown-menu li {
  float: left;
  width: 20%;
  background-color: #000;
  transition: opacity 0.4s ease-in-out;
}

.navbar .dropdown-menu li.active-category a {
  opacity: 1;
}

.navbar .dropdown-menu li a {
  opacity: 0.4;
  background-color: #000;
  padding: 0;
  margin: 3px;
}

.navbar .dropdown-menu li a:hover {
  opacity: 1;
}

.navbar .dropdown-menu li p {
  color: #DCDCDC;
  text-align: center;
  margin-bottom: 3px;
}

#slider {
  background-color: #000;
  position: relative;
}

#slider .carousel-indicators li {
  background-color: #FFF;
}

#slider .carousel-indicators li.active {
  background-color: #00ADEF;
  border: #00ADEF;
}

#slider .carousel-control .glyphicon-chevron-left,
#slider .carousel-control .glyphicon-chevron-right {
  color: #00ADEF;
}

#slider .side {
  font-family: 'TacaPro-Regular';
  position: absolute;
  bottom: 15px;
  width: 33%;
}

#slider .side span {
  color: #ED1F29;
  border-radius: 100px;
  background-color: #082344;
  padding: 5px;
}

#slider .side.right {
  background: rgba(3, 3, 3, 0);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3, 3, 3, 0)), color-stop(12%, rgba(3, 3, 3, 0.12)), color-stop(25%, rgba(5, 5, 5, 0.25)), color-stop(39%, rgba(3, 3, 3, 0.39)), color-stop(50%, rgba(3, 3, 3, 0.5)), color-stop(52%, rgba(0, 0, 0, 0.52)), color-stop(60%, rgba(0, 0, 0, 0.6)), color-stop(76%, rgba(3, 3, 3, 0.76)), color-stop(91%, rgba(0, 0, 0, 0.91)), color-stop(100%, black));
  background: linear-gradient(to right, rgba(3, 3, 3, 0) 0%, rgba(3, 3, 3, 0.12) 12%, rgba(5, 5, 5, 0.25) 25%, rgba(3, 3, 3, 0.39) 39%, rgba(3, 3, 3, 0.5) 50%, rgba(0, 0, 0, 0.52) 52%, rgba(0, 0, 0, 0.6) 60%, rgba(3, 3, 3, 0.76) 76%, rgba(0, 0, 0, 0.91) 91%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030303', endColorstr='#000000', GradientType=1 );
  right: 65px;
}

#slider .side.right img {
  width: 10%;
}

#slider .side.right span {
  margin-right: 10px;
  width: 80%;
}

#slider .side.left {
  background: black;
  background: -webkit-gradient(left top, right top, color-stop(0%, black), color-stop(9%, rgba(0, 0, 0, 0.91)), color-stop(24%, rgba(3, 3, 3, 0.76)), color-stop(40%, rgba(0, 0, 0, 0.6)), color-stop(48%, rgba(0, 0, 0, 0.52)), color-stop(50%, rgba(3, 3, 3, 0.5)), color-stop(61%, rgba(3, 3, 3, 0.39)), color-stop(75%, rgba(5, 5, 5, 0.25)), color-stop(88%, rgba(3, 3, 3, 0.12)), color-stop(100%, rgba(3, 3, 3, 0)));
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0.91) 9%, rgba(3, 3, 3, 0.76) 24%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.52) 48%, rgba(3, 3, 3, 0.5) 50%, rgba(3, 3, 3, 0.39) 61%, rgba(5, 5, 5, 0.25) 75%, rgba(3, 3, 3, 0.12) 88%, rgba(3, 3, 3, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#030303', GradientType=1 );
}

#slider .side.left span {
  margin-left: 10px;
}

#main-slider {
  position: relative;
}

#showroom {
  position: relative;
}

#showroom .showroom-categories-menu {
  list-style-type: none;
}

#showroom li {
  padding-left: 0;
  padding-right: 0;
  margin: 3px;
  cursor: pointer;
  border: 1px solid #C2C5C8;
}

#showroom li.active > img, #showroom li:hover > img {
  -webkit-filter: brightness(100%);
}

#showroom li.active > p, #showroom li:hover > p {
  color: #000;
}

#showroom li > img {
  -webkit-filter: brightness(40%);
  transition: all 0.5s ease;
}

#showroom li > p {
  font-family: 'TacaPro-Regular';
  text-align: center;
  font-size: 1em;
  padding-left: 3px;
  color: #888385;
}

#showroom .cummins-logo {
  width: 5%;
  position: absolute;
  bottom: 15px;
  margin-left: 15px;
}

#showroom .light {
  position: absolute;
  width: 15%;
  border: solid 5px #808080;
  right: 115px;
  bottom: -40px;
}

#cars-slider {
  margin-top: 15px;
}

#cars-slider .carousel-caption {
  width: 25%;
  right: 15%;
  left: 15%;
}

#cars-slider .carousel-caption h3 {
  font-family: 'TacaPro-Regular';
  text-transform: uppercase;
  font-size: 2.5em;
  color: #808080;
  text-shadow: 1px 1px #FFF;
}

#cars-slider .carousel-caption h4,
#cars-slider .carousel-caption li {
  color: #000;
  text-shadow: 1px 1px #EBEBEE;
}

#cars-slider .carousel-caption h4 {
  font-size: 2em;
}

#cars-slider .carousel-caption li {
  font-size: 1.4em;
}

#cars-slider .carousel-caption .well {
  background-color: #C2C5C8;
  border-color: #C2C5C8;
  font-family: 'TacaPro-Light';
  color: #FFF;
  margin-bottom: 2px;
  font-size: 0.8em;
  border-radius: 0;
}

#cars-slider .carousel-caption span {
  font-size: 2em;
}

#cars-slider .carousel-caption .triangle {
  line-height: 19.5px;
  color: #C2C5C8;
  text-shadow: none;
}

#cars-slider .carousel-caption .pdf-icon {
  display: block;
}

#cars-slider .carousel-caption .pdf-icon img {
  width: 15%;
}

#cars-slider .carousel-caption ul {
  padding-left: 20px;
  text-align: left;
}

#cars-slider .carousel-indicators li {
  background-color: #FFF;
}

#cars-slider .carousel-indicators li.active {
  background-color: #00ADEF;
  border: #00ADEF;
}

#cars-slider .carousel-control .glyphicon-chevron-left,
#cars-slider .carousel-control .glyphicon-chevron-right {
  color: #000;
}

#contact-form {
  position: relative;
}

#contact-form::before {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url("../img/llave.jpg");
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0.4;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}

#contact-form .locations {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'TacaPro-Light';
}

#contact-form .locations ul {
  list-style-type: none;
}

#contact-form .locations .wrapper {
  width: 60%;
  margin-left: 100px;
  background-color: #888385;
  overflow-y: scroll;
  color: #FFF;
  max-height: 500px;
  margin-bottom: 25px;
}

#contact-form .locations .city > h3 {
  background-color: #C2C5C8;
  padding: 5px 10px;
  width: 100%;
  font-size: 1.5em;
  margin-top: 0;
}

#contact-form .locations .store {
  margin-right: 10px;
  margin-bottom: 20px;
}

#contact-form .locations .store > h4 {
  display: flex;
  align-items: center;
}

#contact-form .locations .store > h4 span {
  content: "";
  flex: 1 1 auto;
  border-top: 1px solid #FFF;
  margin-left: 5px;
}

#contact-form .locations .store > p {
  padding-right: 15px;
}

#contact-form .contact-form {
  position: relative;
  font-family: 'MyriadPro';
}

#contact-form .contact-form h3 {
  font-family: 'TacaPro-Regular';
  font-size: 3em;
  color: #808080;
  margin-top: 50px;
  margin-left: 50px;
}

#contact-form .contact-form form {
  margin-left: 100px;
}

#contact-form .contact-form form button {
  width: 100%;
}

#contact-form .contact-form .foton-total-care {
  position: absolute;
  width: 15%;
  bottom: 5px;
  left: 0;
}

#quote {
  background-color: #EBEBEE;
  font-family: 'TacaPro-Light';
}

#quote #cotizador form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#quote #cotizador form p {
  flex-basis: 30%;
}

#quote #cotizador form span {
  color: red;
}

#quote #cotizador form div {
  flex-basis: 100%;
  text-align: center;
}

#quote #cotizador input[type="submit"] {
  width: 200px;
}

#quote #cotizador span.field {
  display: block;
  border: thin solid rgba(0, 0, 0, 0.125);
  background-color: #FFF;
  box-shadow: unset;
}

#quote #cotizador span.field span {
  color: inherit;
}

#quote #cotizador input,
#quote #cotizador select,
#quote #cotizador span.field {
  width: 300px;
  padding: .6180469716em;
  background-color: #f2f2f2;
  color: #43454b;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: 400;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
  border-radius: unset;
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

#quote #cotizador select {
  -webkit-appearance: menulist-button;
  -moz-appearance: button-arrow-down;
  padding-top: 0.5em;
}

#quote #cotizador input:disabled,
#quote #cotizador select:disabled {
  color: #797b81;
  background-color: #f9f9f9;
}

#quote #cotizador .seguroFoton {
  display: block;
  width: 80px;
  height: 26px;
  background: #f2f2f2;
  margin: 15px 0;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
}

#quote #cotizador .seguroFoton:after {
  content: 'NO';
  color: #000;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15);
}

#quote #cotizador .seguroFoton:before {
  content: 'SI';
  color: #43454b;
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}

#quote #cotizador .seguroFoton label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  margin: 0;
}

#quote #cotizador .seguroFoton input[type=checkbox] {
  visibility: hidden;
}

#quote #cotizador .seguroFoton input[type=checkbox]:checked + label {
  left: 43px;
}

#quote h3 {
  text-align: center;
  margin-bottom: 25px;
}

#quote .cummins-section {
  background: linear-gradient(to right, #000102, #09274B);
  margin-top: 30px;
  padding-top: 30px;
}

#quote .cummins-section .cummins-big-logo {
  width: 80%;
}

#quote .cummins-section .cummins-motor {
  width: 100%;
}

#quote .cummins-section .technical-details {
  background-color: #C2C5C8;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}

#quote .cummins-section .technical-details li {
  margin-bottom: 10px;
}

#foton-sport .foton-sport-logo {
  margin-top: 15px;
}

#foton-sport .Rich_Web_VS_VTS_Title1 {
  font-family: 'TacaPro-Regular';
}

#foton-sport .jssort01-99-66 {
  background-color: #808080;
}

#news .carousel {
  font-family: 'TacaPro-Regular';
  padding-left: 5px;
  padding-right: 2px;
}

#news .carousel h4 {
  font-size: 1em;
  font-weight: bold;
}

#news .carousel .post {
  max-height: 350px;
  overflow-y: scroll;
  opacity: 1;
}

#news .carousel .post:hover {
  cursor: pointer;
  opacity: 0.4;
}

#news .carousel .post .thumbnail > img {
  max-width: 100%;
  height: auto;
}

#news .carousel .post .date {
  color: gray;
}

#news .carousel .post p::after {
  content: "...";
}

#news .carousel img {
  height: 165px;
  width: 100%;
}

#news .carousel-control {
  padding-top: 15%;
  width: 5%;
}

.single-post {
  font-family: 'TacaPro-Light';
}

.entry {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  background: linear-gradient(to right, #000102, #09274B);
  padding-top: 15px;
  padding-bottom: 15px;
}

footer .copyright {
  font-family: 'TacaPro-Light';
  color: #FFF;
  text-align: center;
}

footer .copyright .icons {
  display: unset;
}

@media only screen and (min-width: 769px) and (max-width: 1269px) {
  #slider .side.right {
    right: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar .navbar-brand {
    height: 65px;
    line-height: 65px;
  }
  .navbar .navbar-nav > li > a {
    padding-top: 15px !important;
    line-height: 20px !important;
  }
  #showroom li > p {
    font-size: 0.9em;
  }
  #cars-slider .carousel-caption h3 {
    font-size: 1.8em;
  }
  #contact-form .locations .wrapper {
    margin-left: 0px;
    width: 100%;
    max-height: none;
    overflow-y: auto;
  }
  #contact-form .contact-form form {
    margin-left: 0;
  }
  footer img {
    margin-bottom: 10px;
  }
  .mt-30 {
    margin-top: 0;
  }
}

/*# sourceMappingURL=main.css.map */
